
/*CSS Reset / Normalize*/

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Raleway";
  color: #464646;
  margin: 0;
  padding: 10px 20px;
  line-height: 1;
  letter-spacing: 1px;
  width: 100vw;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #464646;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* MOBILE FIRST */

.tudo {
  display: flex;
  flex-direction: column;
}

/* MENU */

section.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  height: 10vh;
}

section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  color: #464646;
}

section.menu img {
  width: auto;
  height: auto;
}

/* TITLE */

section header h3.menu-title {
  margin-left: 8px;
}

section.menu nav ul.menu-list {
  display: none;
}

section.menu nav li {
  display: none;
}

section.title div.title-div div.title-container h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

section.title div.title-div div.title-container h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

section.title div.title-div div.title-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 0px 10px 0px;
  font-size: 14px;
}

section.title div.title-div div.title-container img {
  width: auto;
  height: auto;
}

section.title img.profile {
  margin-left: 30%;
  width: 35%;
}

.section-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 6%;
}

/* ABOUT */

section.about {
  padding: 1rem 1rem 0.4rem 1rem;
  background-color: #e7d4cb;
}

section.about h3 {
  margin-top: 3%;
}

section.about div.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.about div.about-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

section.about div.about-container img {
  width: 6%;
}

/* SKILLS */

section.skills div.skills-line {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
}

section.skills div.skills-line div.skills-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4%;
  background-color: #fbfbfb;
  flex-wrap: wrap;
  width: 40%;
  height: auto;
  margin: 0 0 10px 0;
}

section.skills div.skills-line div.skills-box:nth-child(n + 13) {
  margin: 0;
}

section.skills div.skills-line div.skills-box ul {
  margin: 0;
  padding: 0;
}

section.skills div.skills-line div.skills-box img {
  width: auto;
  height: auto;
  margin-bottom: 5px;
}

/* HOBBIES */

section.hobbies div.hobbies-line {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
}

section.hobbies div.hobbies-line div.hobbies-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4%;
  background-color: #fbfbfb;
  width: 40%;
  height: auto;
  margin: 0 0 10px 0;
}

section.hobbies div.hobbies-line div.hobbies-box ul {
  margin: 0;
  padding: 0;
}

section.hobbies div.hobbies-line div.hobbies-box img {
  width: auto;
  height: auto;
  margin-bottom: 5px;
}

/* ACADEMIC */

section.academic {
  margin-top: 4%;
  background-color: #e7d4cb;
}

section.academic .section-title {
  margin: 4% 4% 6% 4%;
}

section.academic div.courses {
  margin: auto;
  text-align: center;
}

section.academic div.courses ul {
  margin: 0 0 8% 0;
  padding: 0;
}

section.academic div.courses ul li {
  padding: 0;
  margin: 0 15px 0 15px;
}

section.academic div.courses ul li.course-img {
  background-color: white;
  width: auto;
  height: auto;
}

section.academic div.courses ul li.course-title h4 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 14px;
  text-align: start;
}

section.academic div.courses ul li.course-subtitle {
  font-weight: 500;
  font-size: 14px;
  margin-top: -14px;
  text-align: start;
}

/* PROFESSIONAL */

#xp.section-title {
  margin: 6% 0 2% 0;
}

section.experience div.experiencia-box {
  padding: 4% 0 4% 0;
}

section.experience div.experiencia-box h2 {
  font-weight: 700;
  font-size: 16px;
  text-align: start;
}

section.experience div.experiencia-box h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: start;
  letter-spacing: 1.5px;
}

section.experience div.experiencia-box div.experience-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

section.experience div.experiencia-box span.experience-presentation button {
  padding: 12px;
  border: 1px solid #af5122;
  color: #af5122;
  box-sizing: border-box;
  min-width: 150%;
}

section.experience div.experiencia-box span.experience-demo button {
  padding: 12px;
  border: 1px solid #af5122;
  background: #af5122;
  color: white;
  min-width: 50%;
}

section.experience img {
  width: 100%;
}

/* FOOTER */

section.footer div.contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
}

section.footer img {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  width: auto;
  height: auto;
}

section.footer img:hover {
  opacity: 1;
}

section.footer div.copyright {
  color: #4b4c4d;
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
}

@media (min-width: 700px) {
  body {
    padding: 0;
  }

  .tudo {
    margin: 32px 32px 10px 32px;
  }

  /* MENU */

  section.menu {
    align-items: baseline;
    justify-content: space-around;
    height: 8vh;
  }

  section.menu header {
    display: none;
  }

  section.menu nav {
    display: flex;
  }

  section.menu nav ul.menu-list {
    align-items: center;
    display: flex;
    font-size: 13px;
    height: 0;
    padding: 0;
  }

  section.menu nav li {
    display: flex;
    margin-right: 50px;
  }

  section.menu nav li:last-child {
    margin-right: 0;
  }

  /* TITLE */

  div.title-div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  section.title img.profile {
    align-items: center;
    width: 140px;
    margin-left: 50px;
  }

  div.title-container {
    width: 450px;
  }

  section.title div.title-div div.title-container h2 {
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 0;
  }

  section.title div.title-div div.title-container h3 {
    margin-bottom: 0;
  }

  section.title div.title-div div.title-container ul {
    display: none;
  }

  /* ABOUT */

  section.about h3 {
    margin-top: 10px;
  }

  section.title div.title-div div.title-container li {
    padding-right: 25px;
  }

  section.about div.about-container img {
    width: 6%;
  }

  /* SKILLS */

  #skills.section-title {
    margin: 4%;
  }

  section.skills div.skills-line {
    width: 91vw;
  }

  /* HOBBIES */

  section.hobbies .section-title {
    margin: 4%;
  }

  section.hobbies div.hobbies-line div.hobbies-box {
    align-items: start;
    justify-content: space-between;
  }

  section.hobbies div.hobbies-line {
    width: 91vw;
  }

  section.hobbies ul {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  section.hobbies li {
    margin-right: 20px;
  }

  /* ACADEMIC */

  section.academic .section-title {
    margin-bottom: 4%;
  }

  section.academic div.courses {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 15px 0 15px;
  }

  section.title div.title-div div.title-container h3 {
    letter-spacing: 1.7px;
  }

  section.academic div.courses-box {
    justify-content: space-between;
    width: 42vw;
  }

  section.academic div.courses-box:first-child {
    margin-right: 18px;
  }

  section.academic div.courses ul li {
    margin: 0;
  }

  section.academic div.courses ul li.course-img {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /* PROFESSIONAL */

  #xp.section-title {
    margin: 4% 0 0 0;
  }

  section.experience div.experiencia-box {
    padding: 0;
  }

  section.experience div.experiencia-box h2 {
    text-align: start;
  }

  section.experience div.experiencia-box h3 {
    letter-spacing: 0.5px;
  }

  section.experience div.experiencia-box div.experience-description {
    margin-bottom: 3%;
    width: 67.4%;
  }

  section.experience div.experiencia-box span.experience-presentation button {
    min-width: 180%;
  }

  section.experience div.experiencia-box span.experience-demo button {
    min-width: 340%;
  }

  section.experience div.experiencia-box img {
    margin-top: 4%;
    width: 100%;
  }

  /* FOOTER */

  section.footer div.contact {
    padding: 20px 80px 10px 80px;
  }

  section.footer div.copyright {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .tudo {
    margin: 25px 50px 16px 50px;
  }

  /* MENU */

  section.menu {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  section.menu header {
    display: flex;
  }

  section.menu nav ul.menu-list {
    align-items: center;
    display: flex;
    justify-content: end;
    font-size: 16px;
    padding: 0;
  }

  section.menu nav li {
    margin-right: 26px;
  }

  section.menu nav li:last-child {
    margin-right: 0;
  }

  /* TITLE */

  .section-title {
    font-size: 32px;
  }

  div.title-div {
    align-items: flex-start;
  }

  section.title div.title-div div.title-container h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
  }

  div.title-container {
    width: 630px;
  }

  section.title img.profile {
    width: 28%;
  }

  section.title div.title-div div.title-container ul {
    display: flex;
    margin: 25px 0 0 -90px;
    align-items: center;
    padding: 0px;
    font-size: 16px;
  }

  section.title div.title-div div.title-container h3 {
    font-size: 16px;
    line-height: 24px;
  }

  /* ABOUT */

  section.about {
    padding: 20px 40px;
  }

  section.about h3 {
    margin: 10px 0 25px 0;
  }

  section.about div.about-container {
    height: 200px;
  }

  section.about div.about-container img {
    object-fit: scale-down;
  }

  /* SKILLS */

  section.skills div.skills-line {
    width: 100%;
  }

  section.skills div.skills-line div.skills-box {
    margin: 0px 0px 22px 0px;
    width: 360px;
  }

  section.skills div.skills-line div.skills-box ul {
    display: flex;
    align-items: center;
  }

  section.skills div.skills-line div.skills-box img {
    margin-right: 16px;
  }

  /* HOBBIES */

  section.hobbies div.hobbies-line {
    width: 100%;
  }

  section.hobbies div.hobbies-line div.hobbies-box {
    margin: 0px 0px 22px 0px;
    width: 360px;
  }

  /* ACADEMIC */

  section.academic {
    margin-top: 2%;
  }

  section.academic div.courses-box:first-child {
    margin-right: 0px;
  }

  section.academic div.courses {
    justify-content: space-around;
  }

  section.academic div.courses-box {
    width: 280px;
  }

  section.academic div.courses ul li.course-img img {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
  }

  section.academic div.courses ul li.course-img {
    padding: 10px 10px;
  }

  /* PROFESSIONAL */

  #xp.section-title {
    margin: 6%;
  }

  section.experience div.experiencia-box {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 4%;
  }

  section.experience div.experiencia-box:first-child {
    margin-top: 0;
  }

  section.experience div.experiencia-box img {
    margin-top: 0;
    width: 50%;
  }

  section.experience div.info-container {
    margin: 0 0 0 4%;
  }

  #saap {
    margin: 0%;
  }

  section.experience div.experiencia-box h2 {
    margin-top: 0;
  }

  section.experience div.experiencia-box div.experience-description {
    margin-bottom: 0;
    width: 70%;
  }

  section.experience div.experiencia-box span.experience-presentation button {
    min-width: 110%;
  }

  section.experience div.experiencia-box span.experience-demo button {
    min-width: 110%;
  }

  section.experience div.experiencia-box:nth-child(3) {
    flex-direction: row-reverse;
  }

  section.experience div.experiencia-box:nth-child(5) {
    flex-direction: row-reverse;
  }

  /* FOOTER */

  section.footer div.contact {
    padding: 40px 100px 15px 100px;
  }

  section.footer div.copyright {
    padding: 0 0 0 0;
  }
}

@media (min-width: 1440px) {
  .tudo {
    margin: 30px 140px 15px 140px;
  }

  /* MENU */
  section.menu header,
  nav ul.menu-list {
    font-size: 16px;
  }

  /* TITLE */

  div.title-div {
    justify-content: space-between;
  }

  div.title-container {
    width: 710px;
  }

  section.title div.title-div div.title-container h3 {
    letter-spacing: 2px;
  }

  section.title div.title-div div.title-container ul {
    margin: 30px 0 0 -126px;
  }

  section.title img.profile {
    width: 26%;
  }

  /* ABOUT */

  section.about div.about-container p {
    font-size: 16px;
  }

  /* SKILLS */

  section.skills div.skills-line div.skills-box {
    margin: 0 0 20px 0;
    width: 40%;
  }

  /* HOBBIES */

  section.hobbies div.hobbies-line div.hobbies-box {
    margin: 0 0 20px 0;
    width: 40%;
  }
}
